/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 90%;
  margin: 3rem auto 12rem;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  color: #fff;
  margin-bottom: 4rem;
}

.section {
  padding: 20rem 0 19rem;
}
.phone {
  position: absolute;
  top: -7rem;
  right: 3rem;
  z-index: 3;
  zoom: 2;  //increase if you have very small images
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}
