html, body {
    background-color: lightblue;
    height: 100%;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.upload{
    height: 100%;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.hat-upload {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 120px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image:url("../assets/favicon.png");
}

/* ---------------------- Dropzone start --------------------- */

#fileName {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.br_dropzone {
  position: relative;
  border: 1px solid rgba(#000, 0.1);
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 10px;
  box-sizing: border-box;

  background-image: linear-gradient(135deg,rgba(0,0,0,.03)25%, transparent 25%, transparent 50%, rgba(0,0,0,.03)50%, rgba(0,0,0,.03)75%, transparent 75%, transparent);
  background-color: #f2ffcc;/*#FAFCFD;*/
  background-size: 16px 16px;
}

.br_dropzone input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  font-size: 2rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

.br_dropzone input[type=text] {
  background: none;
  border: none;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  box-sizing: border-box;
}

.br_dropzone.dragover {
  background-color: #eee;
  border: 6px dashed rgba(#000, 0.1);
}

/* ---------------------- Dropzone end --------------------- */
